{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h2>About Enibla</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h5>We take pride in curating a selection of restaurants that are not just good but truly exceptional. We understand that quality of food is paramount to providing a memorable dining experience for our customers. That's why we handpick our partner restaurants based on stringent criteria to ensure that only the most qualified establishments make it to our platform.</h5>

            <h5>Our team of experts meticulously evaluates each restaurant, considering factors such as culinary expertise, hygiene standards, ingredient quality, and customer reviews. We collaborate with renowned chefs, industry insiders, and local food enthusiasts to identify hidden culinary gems and renowned establishments alike. This ensures our customers have access to a diverse range of cuisines and flavors that are prepared with the utmost care and attention to detail.</h5>

            <h5>Whether you crave international delicacies, traditional comfort food, or innovative fusion creations, our platform guarantees that every restaurant featured has undergone a rigorous selection process. We are committed to providing our customers with an unforgettable gastronomic journey, allowing them to explore the culinary wonders of their city without compromising on quality or taste.</h5>
        </div>
    </div>
</div>
{% endblock content %}
