{% extends 'customer/base.html' %}

{% block content %}
<!-- <div class="container mb-5" style="background-color: #ddd;"> -->
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Online Food Delivery Service</h2>
            <hr></hr>
            <h4>When you order food from <b style="color: #004;">Enibla</b>, you can rest assured that you're not just getting food from any restaurant – you're experiencing the excellence and expertise of the most qualified and exceptional establishments in the region.</h4>
            <hr></hr>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-3 text-center">
            <h3>Place an Order!</h3>
            <a href="{% url 'order' %}" class="btn btn-outline-primary">Order Now!</a>
        </div>
    </div>
</div>
{% endblock content %}
